<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campusrecruit.mapper.AttachmentResumeMapper">
  <resultMap id="BaseResultMap" type="com.campusrecruit.pojo.DO.AttachmentResume">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="resume_url" jdbcType="VARCHAR" property="resumeUrl" />
    <result column="resume_name" jdbcType="VARCHAR" property="resumeName" />
    <result column="public_date" jdbcType="TIMESTAMP" property="publicDate" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, resume_url, resume_name, public_date, `state`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_attachment_resume
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_attachment_resume
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.campusrecruit.pojo.DO.AttachmentResume" useGeneratedKeys="true">
    insert into t_attachment_resume (user_id, resume_url, resume_name, 
      public_date, `state`)
    values (#{userId,jdbcType=INTEGER}, #{resumeUrl,jdbcType=VARCHAR}, #{resumeName,jdbcType=VARCHAR}, 
      #{publicDate,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.campusrecruit.pojo.DO.AttachmentResume" useGeneratedKeys="true">
    insert into t_attachment_resume
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="resumeUrl != null">
        resume_url,
      </if>
      <if test="resumeName != null">
        resume_name,
      </if>
      <if test="publicDate != null">
        public_date,
      </if>
      <if test="state != null">
        `state`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="resumeUrl != null">
        #{resumeUrl,jdbcType=VARCHAR},
      </if>
      <if test="resumeName != null">
        #{resumeName,jdbcType=VARCHAR},
      </if>
      <if test="publicDate != null">
        #{publicDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.campusrecruit.pojo.DO.AttachmentResume">
    update t_attachment_resume
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="resumeUrl != null">
        resume_url = #{resumeUrl,jdbcType=VARCHAR},
      </if>
      <if test="resumeName != null">
        resume_name = #{resumeName,jdbcType=VARCHAR},
      </if>
      <if test="publicDate != null">
        public_date = #{publicDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.campusrecruit.pojo.DO.AttachmentResume">
    update t_attachment_resume
    set user_id = #{userId,jdbcType=INTEGER},
      resume_url = #{resumeUrl,jdbcType=VARCHAR},
      resume_name = #{resumeName,jdbcType=VARCHAR},
      public_date = #{publicDate,jdbcType=TIMESTAMP},
      `state` = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>