<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campusrecruit.mapper.JobIntentionMapper">
  <resultMap id="BaseResultMap" type="com.campusrecruit.pojo.DO.JobIntention">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="trade" jdbcType="VARCHAR" property="trade" />
    <result column="postion" jdbcType="VARCHAR" property="postion" />
    <result column="salary" jdbcType="VARCHAR" property="salary" />
    <result column="location" jdbcType="VARCHAR" property="location" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, trade, postion, salary, `location`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_jobintention
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_jobintention
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.campusrecruit.pojo.DO.JobIntention" useGeneratedKeys="true">
    insert into t_jobintention (user_id, trade, postion, 
      salary, `location`)
    values (#{userId,jdbcType=INTEGER}, #{trade,jdbcType=VARCHAR}, #{postion,jdbcType=VARCHAR}, 
      #{salary,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.campusrecruit.pojo.DO.JobIntention" useGeneratedKeys="true">
    insert into t_jobintention
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="trade != null">
        trade,
      </if>
      <if test="postion != null">
        postion,
      </if>
      <if test="salary != null">
        salary,
      </if>
      <if test="location != null">
        `location`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="trade != null">
        #{trade,jdbcType=VARCHAR},
      </if>
      <if test="postion != null">
        #{postion,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.campusrecruit.pojo.DO.JobIntention">
    update t_jobintention
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="trade != null">
        trade = #{trade,jdbcType=VARCHAR},
      </if>
      <if test="postion != null">
        postion = #{postion,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        `location` = #{location,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.campusrecruit.pojo.DO.JobIntention">
    update t_jobintention
    set user_id = #{userId,jdbcType=INTEGER},
      trade = #{trade,jdbcType=VARCHAR},
      postion = #{postion,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=VARCHAR},
      `location` = #{location,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>